.containerGeneral{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1000px;
    height: 900px;
    background-color: white;
    border: 5px solid black;
}


img{
    max-width: 300px;
}

.h4{
  font-size: 20px;
  margin-top: 10px;
}

h5{
    text-justify:auto;
}

.p{
  margin-bottom: 20px;
}

.divButton{
display: flex;
justify-content: space-evenly;
align-content: center;

}

.button {
    background: #ffffff;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }