*{
  margin: 0;
}
.divCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body {
  background-image: url("../../multimedia/FondoHome.png");
}


.containerButtons {
  display: flex;
  justify-content: space-around;
}

.button {
  background: #ffffff;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

a {
  
  text-decoration: none;
  color: black;
}
