.container{
    padding-top: 5px;
    margin: 10px;
    min-width: 310px    ;
    height: 400px;
}

.containerCard {
    height: 100%;
    background: rgba(255, 255, 255);
    border: 5px solid black;
}

.genres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 300px;

}

.containerText{
    margin-top: 20px;
}

.imgCard{
    max-height: 250px;
}