.divLanding{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img{
    cursor: pointer;
    width: 30%;
    filter: drop-shadow(5px 5px 20px black);
}

.img:hover{
    width: 32%;
}