.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.text {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.input{
  background: #ffffff;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  box-shadow: 0.1em 0.1em;
}



.button {
  background: #ffffff;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
